/*
	Author: Richard Zhu
	github.com/richardszhu
	
	Use on: https://www.gradescope.com
*/
html, body {
    background-color:#1e1e1e;
color:  #cbcbcb;
}

.sidebar--content {
   background-color: #111;
}

.courseBox:focus, .courseBox:hover {
    background-color:   #333;
}

.courseBox {
    color:#cbcbcb;
    background-color:#111;
}

.courseBox--name {
    color: 
    #7d7d7d;
}

.courseHeader--title {
color:
    #cbcbcb;
}

.blankState, .processingState {
    color: 
    #617979;
}

.table tr:nth-child(2n) {
    background-color: 
    #252525;
}

.submissionStatus--text {
    color: 
    #cbcbcb;
}

.submissionStatus--score {
    color: 
    #cbcbcb;
}

.testCase--header {
    background-color: 
    #111;
}

.testCase {
    border: 1px solid 
    #000;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    color: 
    #bbb;
}

.table--primaryLink, .table--secondaryLink {
    color: 
    #717171;
}

.table--primaryLink > a, .table--primaryLink button {
    color: #FFF;
}

.table > tbody > tr {
    border-bottom: 1px solid 
    #2d2d2d;
}

.table thead th {
    color: #cbcbcb;
}

.submissionOutline {
    background-color: 
    #111;
}

.submissionOutline--sectionHeading {
    color: 
    #FFF;
}

.submissionOutlineQuestion--title-leafQuestion {
    color: 
    #2fc8bb !important;
}

.submissionOutlineQuestion--title {
    color: 
    #cbcbcb;
}

.submissionOutlineRubricItem--description {
    color:
    #cbcbcb;
}

.submissionOutlineRubricItem-present {
    border: solid 0px #e1e5eb;
    background-color:#2d2d2d;
}