/*
	Author: Richard Zhu
	github.com/richardszhu
	
	Use on: ocf.io/rszhu
*/
html, body {
    background-color:#1e1e1e;
color:  #cbcbcb;
}

.navbar {
    background-color: 
#1e1e1e;
color:
    #cbcbcb;
}