/*
 * Made by Richard Zhu, UC Berkeley c/o 2023
 * github.com/richardszhu
 *
 * Use on: secretflying.com
*/
body {
  color: #cbcbcb;
  background-color:
    #1e1e1e;
}

.snews-full-main {
  background-color:
    #1e1e1e;
}

#regionsLables {
  background:
    #1e1e1e;
  color:
    #cbcbcb;
}

.regionLabel {
  cursor: pointer;
  color:
    white !important;
}

.snews-boxed,
.widget,
#ticker-wrap,
.btn::before,
.snews-hvr-shutter::after,
.rw-user-rating-desc .score,
.snews_widget_content.snews-loader::after {
  background-color:
    #1e1e1e;
}

.snews-boxed,
.widget,
#ticker-wrap {
  border-color:
    #1e1e1e;
  border-top-color: #1e1e1e;
}

a {

  color: #ececec;

}

.main-navigation,
.main-navigation a,
.main-navigation ul ul,
.main-navigation li.snews-megamenu .sub-links li a,
.menu-toggle {
  background-color:
    #111;
}