/* 
 * Made by Richard Zhu
 * github.com/richardszhu

 * use on: https://x.yupoo.com/
*/


body {
 
    background-color: #211f1f;
    color: #cbcbcb;
}

.showheader__headerWrap {
    background-color: #211f1f;
    color: #FFF;
}
